even-odd/src/main/mule/even-odd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2281c48-2a2a-46ed-9a79-431c1445db0d" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="1250202f-1bca-4dc9-b2c7-2e41b187f091" >
		<file:connection workingDir="C:\Users\Deepthi.gr\Desktop" />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="3f6ee297-2107-4db0-af60-2c53ec0a6786" >
		<file:connection workingDir="C:\Users\Deepthi.gr\Desktop" />
	</file:config>
	<file:config name="File_Config2" doc:name="File Config" doc:id="4bd579f5-d6ea-4b0b-8234-94aeab23a51a" >
		<file:connection workingDir="C:\Users\Deepthi.gr\Desktop" />
	</file:config>
	<flow name="even-oddFlow" doc:id="9848f285-1a1d-4efa-a234-e0fba79bbf21" >
		<http:listener doc:name="Listener" doc:id="91d33a8a-60a4-440b-9fea-a530cd9b5f79" config-ref="HTTP_Listener_config" path="/evenodd"/>
		<ee:transform doc:name="Transform Message" doc:id="af0d84b1-f214-43a7-934f-59657bc2c4ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="evenfloe" ><![CDATA[%dw 2.0
output application/json
var arrNums=[1,2,3,4,5,6,7,8,9] filter (d,i)->(d mod 2)==0
---
{
	even: arrNums map(v,i)->{
		value:v
	}			
}]]></ee:set-variable>
				<ee:set-variable variableName="oddfile" ><![CDATA[%dw 2.0
output application/json
var arrNums=[1,2,3,4,5,6,7,8,9] filter (d,i)->(d mod 2)!=0
---
{
	odd: arrNums map(v,i)->{
		value:v
	}			
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="5501a356-3eb3-4fde-a6a5-aceb11d571e1" >
			<route >
				<file:write doc:name="Write" doc:id="c2c4c449-f710-43e7-ace6-6e4008823275" config-ref="File_Config2" path="D:\Mule4\mule_lessons\odd.txt">
					<file:content ><![CDATA[#[vars.oddfile]]]></file:content>
				</file:write>
			</route>
			<route >
				<file:write doc:name="Write" doc:id="20c22ebc-3db3-45b5-a50e-af5e33aae02d" config-ref="File_Config" path="D:\Mule4\mule_lessons\even.txt">
					<file:content ><![CDATA[#[vars.evenfloe]]]></file:content>
				</file:write>
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="e87b3f7b-4e33-4eaf-8e8d-d06328814dee" message="completed"/>
	</flow>
</mule>
