cicd/sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="036973ea-2429-4d32-93b2-240e20d911f6" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="6474c422-ac8b-40ab-85ab-d6e1b1746052" >
		<http:listener doc:name="Listener" doc:id="94a5f446-df5f-493e-b7a8-0030f5c1e156" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="Hello" doc:name="Set Payload" doc:id="bf7b7cab-5053-4d87-884d-5138d29ca21a" />
		<logger level="INFO" doc:name="Logger" doc:id="d3daa794-962a-4ddd-94c0-37352eb81833" message="#[payload]"/>
	</flow>
</mule>
